p{
     color:  #00ff4c;
     font-size: 18px;
}

/* TITLES */
.title {
  font-family: 'Black Ops One', system-ui;
  font-size: 48px;
  letter-spacing: 6px;
  color: #fff;
}

.title span {
  color: #00ff4c;
  font-family: 'Black Ops One', system-ui;
  font-size: 48px;
  letter-spacing: 6px;
}

.subtitle {
  margin-top: 15px;
  max-width: 800px;
}

/* DIVIDER */
.divider {
  border: none;
  height: 1px;
  background: rgba(255,255,255,0.2);
  margin: 60px 0;
}

/* HERO */
.contact-hero {
  padding: 175px 120px 40px;
}

/* INFO */

.contact-info-div{
    width: 60%;
    display: flex;
  gap: 100px;
  padding: 40px 127px;
  
}

.info-box h3 {
  color: #fff;
  margin-bottom: 10px;
}

/* MAIN */
.contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 60px 120px;
}

/* MAP */
.map-box iframe {
  width: 90%;
  height: 450px;
  border: none;
  
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  padding: 15px;
  color: #00ff4c;
  font-size: 14px;
}

.contact-form textarea {
  height: 180px;
  resize: none;
  margin-bottom: 30px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255,255,255,0.5);
}

.contact-form button {
  align-self: center;
  padding: 14px 60px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}



/* RESPONSIVE */
@media (max-width: 900px) {
  .contact-main {
    grid-template-columns: 1fr;
  }

  .contact-info {
    flex-direction: column;
    gap: 30px;
  }

  .contact-hero,
  .contact-info,
  .contact-main,
  .footer {
    padding: 40px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 32px;
  }

  .row {
    flex-direction: column;
  }
}
