.head-courses{
    padding: 20px;
    text-align: center;
}
.yt-section{
    padding: 135px 320px;
}
.yt-videos-list{
    padding: 33px;
}
.button-div{
    width: 100%;
    height: auto;
    padding: 0 660px;
    margin-bottom: 80px;
    margin-top: -100px;
}