body{
     background-image: url('hero_pic.png');
    background-size: cover;
}
.section-hero {
   padding: 130px 100px;
}
h2 {
    color:  white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.40em;
    margin-block-end: 0.40em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-shadow: 0 0 20px black;

}
h3{
 color:  rgb(41, 248, 41);  
 text-shadow: 0 0 20px black; 
}
.labsCate {
    width: 45%;
    padding: 0 70px;
    margin-top: 25px;
    border: none;
    background: linear-gradient(135deg, rgba(41, 41, 41, 0.45), rgba(18, 15, 15, 0.15));
    backdrop-filter: blur(15px)saturate(160%);
    -webkit-backdrop-filter: blur(30px)saturate(180%);
    border: 0.5px solid rgba(255, 255, 255, 0.35);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 -1px 1px rgba(255, 255, 255, 0.15);
    transition: all 0.25s ease;
    border-radius: 999px;
    color: white;
}
.labsList{
    margin-bottom: 30px;
}
